.bp-sub-header {
  background-color: #293259;
}

body {
  background-color: #EDF2F5;
}

.project-head-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1.5em 5%;
  padding-right: 6%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-text p {
  font-size: 12px;
  font-weight: 400;
  color: #FCCE00;
}

.header-text span {
  font-size: 20px;
  font-weight: 300;
  color: white;
}

.main-heading {
  font-size: 10px;
  font-weight: 700;
  color: #5C707D;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.content-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 3em;
  padding: 0 5%;
}

.cat-card-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5em;
}

.cat-filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
}

.cat-filters button {
  background-color: #FCCE00;
  border: none;
  border-radius: 1.5em;
  padding: .4em 1em;
  color: black;
  font-size: 9px;
  font-weight: 400;
  cursor: pointer;
}

.cat-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  border-radius: 10px;
  width: 100px;
  padding: .9em 0;
  height: 60px;
  margin: 0 .5em;
  cursor: pointer;
}

.cat-card:first-of-type {
  margin-left: 0;
}

.cat-card:last-of-type {
  margin-right: 0;
}

.cat-card p {
  color: #5C707D;
  font-size: 7px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: .25em;
  line-height: 10px;
}

.cat-card span {
  color: #39B5E3;
  font-size: 7px;
  font-weight: 400;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 33% 60%;
  column-gap: 7%;
}

.projects-view,
.location-view,
.project-details {
  margin-top: 2em;
}

.projects-view .main-heading,
.location-view .main-heading,
.project-details .main-heading {
  margin-bottom: 1.5em;
}

.project-card {
  padding: .8em 0;
  padding-right: 3%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: .8em;
  transition: transform .3s ease-in-out;
  cursor: pointer;
}

.project-card .project-img {
  margin-left: -2.2%;
}

.project-card .project-img img {
  border-radius: 50%;
}

.project-card .desc-img {
  display: flex;
}

.project-card .project-desc {
  padding-left: 1.2em;
}

.project-card .project-desc h3 {
  font-size: 12px;
  color: #5C707D;
  font-weight: 600;
  padding-bottom: .4em;
}

.project-card .project-desc span {
  display: block;
  color: #236AAE;
  font-size: 10px;
  font-weight: 600;
}

.project-card .project-desc p {
  font-size: 10px;
  font-weight: 300;
  color: #5C707D;
}

.project-card .project-rate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: .8em;
  border-left: 1px solid #97979777;
}

.project-card .project-rate p {
  font-size: 18px;
  font-weight: 600;
  color: #5C707D;
  padding-bottom: .3em;
}

.project-card .project-rate span {
  color: white;
  background-color: #7ED321;
  font-size: 9px;
  font-weight: 600;
  padding: .3em 1em;
  border-radius: 1em;
  text-align: center;
  text-transform: uppercase;
  width: 61px;
}

.project-card:hover {
  transform: translateX(30px);
}

.map-container {
  padding: .5em;
  background-color: white;
  border-radius: 5px;
}

.details-otherinfo {
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 1px 15px 5px #E2ECF2;
  z-index: -5;
}

.details-wrapper {
  position: relative;
  padding: 1.5em 0;
  padding-bottom: 1em;
  background: linear-gradient(180deg, #524269 0%, #4A4068 0%, #423E66 46.97%, #2D3863 100%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.distance {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  padding: 1em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #75CBCF;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
}

.distance span {
  font-size: 12px;
  font-weight: 400;
  color: white;
  padding-top: .6em;
}

.chat-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.expiry {
  color: #FCCE00;
  font-size: 12px;
  font-weight: 400;
  align-self: flex-start;
  padding-left: 18%;
}

.projectname {
  color: white;
  font-size: 14px;
  font-weight: 400;
  align-self: flex-start;
  padding-left: 18%;
}

.detail-ovw-container {
  padding-left: 18%;
  margin-top: 1em;
  display: flex;
}

.detail-ovw-container .detail-ovw {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1em;
  min-width: 100px;
  background-color: #343556;
  padding: .5em .8em;
  border-radius: 10px;
}

.detail-ovw-container .detail-ovw span {
  color: #FCCE00;
  font-size: 20px;
  font-weight: 400;
}

.detail-ovw-container .detail-ovw p {
  color: white;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 7px;
  text-transform: uppercase;
}

.toggle-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2em;
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
  z-index: 89;
}

.toggle input[type="radio"] {
  display: none;
}

.toggle label {
  display: grid;
  place-items: center;
  cursor: pointer;
  position: relative;
  color: white;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 2em;
}

.toggle label:first-of-type::after {
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
}

.toggle label:last-of-type::after {
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
  width: 105px;
  margin-left: -4px;
}

.toggle label::after {
  content: '';
  position: absolute;
  width: 110px;
  height: 40px;
  background: #343556;
  z-index: -1;
}

.toggle .track {
  position: absolute;
  left: .25em;
  background: linear-gradient(134.72deg, #236AAE 0%, #6DD7AC 101.5%);
  height: 30px;
  width: 90px;
  border-radius: 1.5em;
  pointer-events: none;
  transition: all .2s ease-out;
  z-index: -1;
}

.toggle #input1:checked ~ .track {
  left: -12px;
}

.toggle #input2:checked ~ .track {
  left: 80px;
}

.toggle #input3:checked ~ .track {
  left: 190px;
}

.divider-cap {
  width: 18px;
  height: 4px;
  background-color: #c3c3c3;
  border-radius: 2px;
  display: block;
  margin: 0 auto;
  margin-top: 2em;
}

.otherinfo-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5%;
  padding: 1em 3%;
}

.bidders {
  grid-column: 1/3;
}

.comments {
  grid-column: 1/3;
}

.prdesc p {
  font-size: 10px;
  color: #5C707D;
  width: 90%;
  padding-bottom: 1.5em;
}

.abttheemp {
  grid-row: 1/3;
  grid-column: 2/3;
}

.abttheemp p:first-of-type {
  font-size: 12px;
  color: #46454C;
}

.abttheemp p:nth-of-type(2) {
  font-size: 11px;
  color: #39B5E3;
  padding-bottom: .5em;
}

.abttheemp p:nth-of-type(3) {
  font-size: 11px;
  color: #4A4A4A;
}

.abttheemp .abtempflex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.abttheemp .stars {
  margin-right: 1.5em;
}

.abttheemp .stars img {
  width: 11px;
}

.abttheemp .rating-rev {
  display: flex;
  align-items: center;
}

.abttheemp .rating-rev p {
  color: #5C707D;
  font-weight: 10px;
  font-weight: 600;
}

.abttheemp .rating-rev p span {
  color: #F2695A;
  padding-right: .25em;
}

.reqskills p {
  color: #5C707D;
  font-size: 10px;
  padding-bottom: 1.5em;
}

.reqskills button {
  font-size: 14px;
  font-weight: 700;
  color: #4A4A4A;
  background-color: #FCCE00;
  border: none;
  outline: none;
  padding: 12px 2em;
  border-radius: 2em;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

.ver-items {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
}

.ver-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 18px;
  padding-top: 1.25em;
  padding-bottom: 1em;
}

.ver-card img {
  margin-bottom: .6em;
}

.ver-card p {
  font-size: 10px !important;
  font-weight: 600;
  color: #5C707D !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

.ver-card:nth-of-type(1) {
  border-right: 1px solid #DBDBDB;
  border-left: 1px solid #DBDBDB;
}

.ver-card:nth-of-type(2) {
  border-right: 1px solid #DBDBDB;
}

.bidders .main-heading {
  margin-top: 2em;
  padding-bottom: 2em;
}

.bidders .bidder-container {
  display: grid;
  grid-template-columns: repeat(5, max-content);
  padding: 1em 1%;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
}

.bidders .bidder-container:last-of-type {
  border-top: none;
  margin-bottom: 1.5em;
}

.bidders .bidder-container p {
  font-size: 10px;
  font-weight: 600;
}

.bidders .bidder-container span {
  font-size: 10px;
  font-weight: 600;
}

.bidders .bidder-name-time p:nth-of-type(1) {
  color: #5C707D;
  margin-bottom: 1em;
}

.bidders .bidder-name-time p:nth-of-type(2) {
  color: #236AAE;
}

.bidders .bidder-rating .payment-rate {
  display: flex;
  align-items: center;
  margin-bottom: .7em;
}

.bidders .bidder-rating span {
  margin-right: 2em;
  color: #F2695A;
}

.bidders .bidder-rating .rating-bar {
  width: 52px;
  height: 4px;
  border-radius: 2px;
  background-color: #D9D9D9;
  position: relative;
  margin-top: .15em;
}

.bidders .bidder-rating .rating-bar p {
  font-size: 9px;
  font-weight: 600;
  color: white;
}

.bidders .bidder-rating .inner-bar {
  width: 80%;
  height: 100%;
  background-color: #7ED321;
  border-radius: 2px;
}

.bidders .bidder-rating .dollar-div {
  position: absolute;
  display: grid;
  place-items: center;
  width: 15.2px;
  height: 15.2px;
  border-radius: 50%;
  background-color: #7ED321;
  border: .8px solid #EDF2F5;
  top: -6px;
}

.bidders .bidder-rating .emp-review {
  display: flex;
}

.bidders .bidder-rating .rev-stars {
  display: flex;
}

.bidders .bidder-rating .rev-stars img {
  width: 11.34px;
  height: 10.66px;
  object-fit: cover;
}

.bidders .bidder-completionrate {
  text-align: right;
}

.bidders .bidder-completionrate p {
  color: #5C707D;
}

.bidders .bidder-completionrate p:first-of-type {
  margin-bottom: 1em;
}

.bidders .bidder-completionrate span {
  color: #F2695A;
  margin-right: .5em;
}

.bidders .bidder-amt {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: .5em 0;
  padding-left: 1em;
  padding-right: .5em;
  border-left: 1px solid #979797;
}

.bidders .bidder-amt span {
  font-weight: 600;
  font-size: 18px;
  color: #5C707D;
  padding-bottom: .2em;
}

.bidders .bidder-amt p {
  color: #236AAE;
}

.comments .cmnt-browse {
  display: grid;
  grid-template-columns: 45% 45%;
  column-gap: 10%;
}

.comments .cmnt-browse .make-comment {
  border-bottom: 1px solid #9B9B9B;
  padding-bottom: .5em;
}

.comments .cmnt-browse .make-comment p {
  font-size: 12px;
  font-weight: 400;
  color: #E0B700;
}

.comments .cmnt-browse .make-comment input {
  border: none;
}

.comments .cmnt-browse .browse {
  border-bottom: 1px solid #9B9B9B;
  padding-bottom: .5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comments .cmnt-browse .browse span {
  font-size: 12px;
  font-weight: 400;
  color: #E0B700;
}

.comments .cmnt-browse .browse button {
  background-color: #CBF0F0;
  color: #4A4A4A;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0;
  border: none;
  border-radius: 2em;
  outline: none;
  padding: .6em 1.5em;
  cursor: pointer;
}

.comments .cmnt-browse .cmnt-btn {
  background-color: #5C707D;
  color: white;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0;
  border: none;
  border-radius: 2em;
  outline: none;
  padding: .6em 1.5em;
  width: max-content;
  grid-column: 1/3;
  justify-self: center;
  margin: 1.5em 0;
  cursor: pointer;
}

.existing-comments {
  display: flex;
  flex-direction: column;
  grid-column: 1/3;
}

.existing-comments .cmnt-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .6em 1%;
  border-top: 1px solid #D9D9D9;
}

.existing-comments .cmnt-div .pfp-cmnt {
  display: flex;
  align-items: center;
}

.existing-comments .cmnt-div .pfp-cmnt img {
  margin-right: 1.5em;
}

.existing-comments .cmnt-div .pfp-cmnt p {
  font-size: 10px;
  font-weight: 400;
  color: #5C707D;
  width: 60%;
}

.existing-comments .cmnt-div .cmnt-options span,
.existing-comments .cmnt-div .cmnt-options button {
  background: none;
  font-size: 10px;
  font-weight: 700;
  border: none;
  outline: none;
  color: #5C707D;
}

.existing-comments .cmnt-div .cmnt-options span {
  margin-right: 1.6em;
}

.existing-comments .cmnt-div .cmnt-options button {
  cursor: pointer;
}
