.bp-sub-header {
  background-color: #293259;
}

body {
  background-color: #EDF2F5;
}

.project-head-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1.5em 5%;
  padding-right: 6%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-text p {
  font-size: 12px;
  font-weight: 400;
  color: #FCCE00;
}

.header-text span {
  font-size: 20px;
  font-weight: 300;
  color: white;
}

.main-heading {
  font-size: 10px;
  font-weight: 700;
  color: #5C707D;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.content-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 3em;
  padding: 0 5%;
}

.cat-card-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5em;
}

.cat-filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
}

.cat-filters button {
  background-color: #FCCE00;
  border: none;
  border-radius: 1.5em;
  padding: .4em 1em;
  color: black;
  font-size: 9px;
  font-weight: 400;
  cursor: pointer;
}

.cat-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  border-radius: 10px;
  width: 100px;
  padding: .9em 0;
  height: 60px;
  margin: 0 .5em;
  cursor: pointer;
}

.cat-card:first-of-type {
  margin-left: 0;
}

.cat-card:last-of-type {
  margin-right: 0;
}

.cat-card p {
  color: #5C707D;
  font-size: 7px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: .25em;
  line-height: 10px;
}

.cat-card span {
  color: #39B5E3;
  font-size: 7px;
  font-weight: 400;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 33% 60%;
  column-gap: 7%;
}

.projects-view,
.location-view {
  margin-top: 2em;
}

.projects-view .main-heading,
.location-view .main-heading {
  margin-bottom: 1.5em;
}

.project-card {
  padding: .8em 0;
  padding-right: 3%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: .8em;
  transition: transform .3s ease-in-out;
  cursor: pointer;
}

.project-card .project-img {
  margin-left: -2.2%;
}

.project-card .project-img img {
  border-radius: 50%;
}

.project-card .desc-img {
  display: flex;
}

.project-card .project-desc {
  padding-left: 1.2em;
}

.project-card .project-desc h3 {
  font-size: 12px;
  color: #5C707D;
  font-weight: 600;
  padding-bottom: .4em;
}

.project-card .project-desc span {
  display: block;
  color: #236AAE;
  font-size: 10px;
  font-weight: 600;
}

.project-card .project-desc p {
  font-size: 10px;
  font-weight: 300;
  color: #5C707D;
}

.project-card .project-rate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: .8em;
  border-left: 1px solid #97979777;
}

.project-card .project-rate p {
  font-size: 18px;
  font-weight: 600;
  color: #5C707D;
  padding-bottom: .3em;
}

.project-card .project-rate span {
  color: white;
  background-color: #7ED321;
  font-size: 9px;
  font-weight: 600;
  padding: .3em 1em;
  border-radius: 1em;
  text-align: center;
  text-transform: uppercase;
  width: 61px;
}

.project-card:hover {
  transform: translateX(30px);
}
