* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

main {
  background: url(../images/thought-catalog-505eectW54k-unsplash.jpg), rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 2.5em 2em;
  border-radius: 10px;
}

.login-form h1 {
  color: white;
  text-align: center;
  padding-bottom: .8em;
}

.login-form input {
  border: none;
  outline: none;
  margin-bottom: 1em;
  padding: .6em 1em;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  font-weight: 500;
}

.login-form input::placeholder {
  color: white;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1px;
}

.login-form button {
  background-color: #FCCE00;
  border: none;
  outline: none;
  color: #4A4A4A;
  padding: .7em 2em;
  font-size: 14px;
  font-weight: 700;
  border-radius: 1.5em;
  margin-top: 1em;
  cursor: pointer;
}

.login-form button:nth-of-type(2) {
  background-color: white;
  color: #4285F4;
  padding: .7em 1em;
  margin-top: 0;
}

.login-form p {
  display: flex;
  align-items: center;
  margin: 1em auto;
  color: white;
  font-size: 12px;
}

.login-form p span {
  height: 1px;
  width: 10px;
  background-color: white;
  margin: 0 .5em;
}

.login-form .signup-link {
  font-size: 11px;
  margin-bottom: 0;
}

.login-form .signup-link a {
  text-decoration: none;
  color: #FCCE00;
  margin-left: .3em;
}
