body {
  background-color: #EDF2F5;
}

.grid-container {
  display: grid;
  grid-template-columns: 40% 55%;
  column-gap: 5%;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 3em;
  padding: 0 5%;
}

.section-heading {
  font-size: 10px;
  font-weight: 700;
  color: #5C707D;
  letter-spacing: 1px;
  margin-bottom: 3em;
  text-transform: uppercase;
  margin-top: 1em;
}

.section-heading:first-of-type {
  margin-top: 0;
}

.ovw-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.5em;
}

.ovw-card {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  padding: 1.25em 0;
}

.ovw-card span {
  color: #B0DEDF;
  font-size: 36px;
  font-weight: 700;
  padding-bottom: .1em;
}

.ovw-card p {
  font-size: 10px;
  letter-spacing: 1px;
  color: #5C707D;
  font-weight: 400;
  text-transform: uppercase;
}

.verify-container {
  background-color: white;
  border-radius: 10px;
  margin-top: 2em;
  padding-bottom: 1em;
}

.ver-items {
  display: flex;
  justify-content: center;
}

.ver-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5em;
  padding-top: 1.25em;
  padding-bottom: 1em;
}

.ver-card img {
  margin-bottom: .6em;
}

.ver-card p {
  font-size: 10px;
  font-weight: 600;
  color: #5C707D;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

.ver-card:nth-of-type(1) {
  border-right: 1px solid #DBDBDB;
}

.ver-card:nth-of-type(2) {
  border-right: 1px solid #DBDBDB;
}

.card-text {
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  color: #5C707D;
  text-align: center;
  padding-top: 2.5em;
  padding-bottom: .5em;
}

.divider {
  height: 4px;
  width: 18px;
  background-color: #5C707D;
  border-radius: 2px;
  margin: 0 auto;
  opacity: 35%;
  margin-top: .5em;
}

.card-btn {
  display: block;
  background-color: #5C707D;
  font-size: 12px;
  font-weight: 700;
  color: white;
  padding: .6em 0;
  border-radius: 1.5em;
  text-align: center;
  width: 113px;
  text-decoration: none;
  bottom: -1.2em;
  left: 34%;
  margin: 0 auto;
  outline: none;
  border: none;
  transform: translateY(2.5em);
}

.sm-container {
  background-color: white;
  border-radius: 10px;
  margin-top: 2em;
  padding: 1.5em 5%;
  padding-bottom: 1em;
}

.sm-container .card-text {
  padding: 0;
  padding-bottom: 2em;
}

.sm-container .card-links {
  display: block;
  text-decoration: none;
  font-size: 10px;
  font-weight: 400;
  color: #5C707D;
  text-align: center;
}

.sm-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .8em 0;
  padding-bottom: 1.2em;
}

.sm-icons a {
  text-decoration: none;
}

.sm-icons img {
  margin: 0 1em;
}

.project-card,
.bid-card,
.pny-card {
  padding: .8em 0;
  padding-right: 3%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5em;
}

.project-img {
  margin-left: -2.2%;
}

.project-img img {
  border-radius: 50%;
}

.desc-img {
  display: flex;
}

.project-desc,
.bid-desc {
  padding-left: 1.2em;
}

.project-desc h3,
.bid-desc h3 {
  font-size: 12px;
  color: #5C707D;
  font-weight: 600;
  padding-bottom: .4em;
}

.project-desc span,
.bid-desc span {
  display: block;
  color: #236AAE;
  font-size: 10px;
  font-weight: 600;
}

.project-desc p,
.bid-desc p {
  font-size: 10px;
  font-weight: 300;
  color: #5C707D;
}

.project-rate,
.bid-rate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: .8em;
  border-left: 1px solid #97979777;
}

.project-rate p,
.bid-rate p {
  font-size: 18px;
  font-weight: 600;
  color: #5C707D;
  padding-bottom: .3em;
}

.project-rate span,
.bid-rate span {
  color: white;
  background-color: #7ED321;
  font-size: 9px;
  font-weight: 600;
  padding: .3em 1em;
  border-radius: 1em;
  text-align: center;
  text-transform: uppercase;
  width: 61px;
}

.bid-rate span {
  background-color: #2EBFD9;
}

.pny-card .bid-rate span {
  padding: .3em 0;
}

.lost-bid {
  background-color: #F2695A !important;
}

.bid-placed {
  background-color: #F5A623 !important;
}

.head-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-right: .8em;
}

.head-btn-container .section-heading {
  margin-top: 1em;
}

.view-all-btn {
  background-color: #5C707D;
  font-size: 9px;
  font-weight: 400;
  color: white;
  padding: .4em 1em;
  border: none;
  outline: none;
  border-radius: 1.5em;
  height: max-content;
  margin-top: 1em;
  cursor: pointer;
}

.tnc-agree {
  grid-column: 1/3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 1.5em 0;
  padding-left: 10%;
  padding-right: 3%;
  margin-top: 2em;
}

.tnc-agree span {
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 2px;
  color: #6588B1;
}

.tnc-agree b {
  font-weight: 700;
}

.tnc-agree .card-btn {
  transform: translateY(0);
  margin: 0;
  cursor: pointer;
}

.text-agree {
  display: flex;
  justify-content: end;
}

.text-agree p {
  font-size: 10px;
  font-weight: 400;
  color: #5C707D;
  width: 50%;
  margin-right: 4em;
}
