* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.header-for-navbar {
  background: linear-gradient(225deg, #524269 0%, #4A4068 34.43%, #423E66 46.97%, #2D3863 100%);
}

.navbar {
  max-width: 1100px;
  padding: 1em 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.brandwrap {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: white;
  letter-spacing: 2px;
  font-weight: 300;
}

.brandwrap b {
  font-weight: 700;
}

.brand-logo {
  margin-right: 1em;
}

.navlinks {
  width: 60%;
}

.navlinks ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.navlinks li {
  padding: .5em 0;
}

.navlinks a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;
  line-height: 0;
  letter-spacing: 1px;
}

.logout-btn {
  text-decoration: none;
  display: inline-block;
  color: white;
  font-weight: 400;
  font-size: 9px;
  background: #5C707D;
  border-radius: 10px;
  padding: .6em 1.5em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.sub-header {
  background-color: #293259;
}

.welcome-type {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1.2em 10%;
  padding-bottom: 0;
}

.welcomediv {
  display: flex;
}

.userimage {
  margin-right: 1em;
  margin-bottom: -1.2em;
}

.welcometext {
  display: block;
  color: #FCCE00;
  font-weight: 400;
  font-size: 12px;
  padding-top: .6em;
  padding-bottom: .25em;
}

.username {
  display: block;
  font-weight: 300;
  font-size: 20px;
  color: white;
}

.text-icon-container {
  display: flex;
  justify-content: space-between;
  width: 48%;
  align-items: center;
}

.redirect-btns {
  margin-top: -.6em;
}

.redirect-btns img {
  margin-left: 1.5em;
}

.welcome-type {
  display: flex;
  justify-content: space-between;
}

.switch-button {
  margin-top: .6em;
  background: rgba(35, 31, 32, 0.2);
  border-radius: 30px;
  overflow: hidden;
  width: 150px;
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  color: white;
  position: relative;
  padding-right: 152px;
  position: relative;
}

.switch-button:before {
  content: "POSTER";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 150px;
  font-size: 10px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  pointer-events: none;
}

.switch-button-checkbox {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}

.switch-button-checkbox:checked + .switch-button-label:before {
  transform: translateX(150px);
  transition: transform 300ms linear;
}

.switch-button-checkbox + .switch-button-label {
  position: relative;
  padding: 15px 0;
  display: block;
  user-select: none;
  pointer-events: none;
}

.switch-button-checkbox + .switch-button-label:before {
  content: "";
  background: linear-gradient(134.72deg, #236AAE 0%, #6DD7AC 101.5%);
  height: 90%;
  width: 98%;
  top: 5%;
  bottom: 5%;
  position: absolute;
  left: 1%;
  border-radius: 30px;
  transform: translateX(0);
  transition: transform 300ms;
}

.switch-button-checkbox + .switch-button-label .switch-button-label-span {
  position: relative;
}
