.bp-sub-header {
    background-color: #293259;
}

body {
    background-color: #EDF2F5;
}

.project-head-wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 1.5em 5%;
    padding-right: 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-text {
    p {
        font-size: 12px;
        font-weight: 400;
        color: #FCCE00;
    }
    span {
        font-size: 20px;
        font-weight: 300;
        color: white;
    }
}

.main-heading {
    font-size: 10px;
    font-weight: 700;
    color: #5C707D;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.content-wrapper {
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 3em;
    padding: 0 5%;
}

.cat-card-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5em;
}

.cat-filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
    button {
        background-color: #FCCE00;
        border: none;
        border-radius: 1.5em;
        padding: .4em 1em;
        color: black;
        font-size: 9px;
        font-weight: 400;
        cursor: pointer;
    }
}

.cat-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    border-radius: 10px;
    width: 100px;
    padding: .9em 0;
    height: 60px;
    margin: 0 .5em;
    cursor: pointer;
    &:first-of-type {
        margin-left: 0;
    }
    &:last-of-type {
        margin-right: 0;
    }
    p {
        color: #5C707D;
        font-size: 7px;
        font-weight: 400;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding-bottom: .25em;
        line-height: 10px;
    }
    span {
        color: #39B5E3;
        font-size: 7px;
        font-weight: 400;
        text-align: center;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: 33% 60%;
    column-gap: 7%;
}

.projects-view,
.location-view,
.project-details {
    margin-top: 2em;
    .main-heading {
        margin-bottom: 1.5em;
    }
}

.project-card {
    padding: .8em 0;
    padding-right: 3%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: .8em;
    transition: transform .3s ease-in-out;
    cursor: pointer;
    .project-img {
        margin-left: -2.2%;
        img {
            border-radius: 50%;
        }
    }
    .desc-img {
        display: flex;
    }
    .project-desc {
        padding-left: 1.2em;
        h3 {
            font-size: 12px;
            color: #5C707D;
            font-weight: 600;
            padding-bottom: .4em;
        }
        span {
            display: block;
            color: #236AAE;
            font-size: 10px;
            font-weight: 600;
        }
        p {
            font-size: 10px;
            font-weight: 300;
            color: #5C707D;
        }
    }
    .project-rate {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: .8em;
        border-left: 1px solid #97979777;
        p {
            font-size: 18px;
            font-weight: 600;
            color: #5C707D;
            padding-bottom: .3em;
        }
        span {
            color: white;
            background-color: #7ED321;
            font-size: 9px;
            font-weight: 600;
            padding: .3em 1em;
            border-radius: 1em;
            text-align: center;
            text-transform: uppercase;
            width: 61px;
        }
    }
    &:hover {
        transform: translateX(30px);
    }
}

// 
.map-container {
    padding: .5em;
    background-color: white;
    border-radius: 5px;
}

// PROJECT DETAILS
.details-otherinfo {
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 1px 15px 5px #E2ECF2;
    z-index: -5;
}

.details-wrapper {
    position: relative;
    padding: 1.5em 0;
    padding-bottom: 1em;
    background: linear-gradient(180deg, #524269 0%, #4A4068 0%, #423E66 46.97%, #2D3863 100%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.distance {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    padding: 1.2em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #75CBCF;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    span {
        font-size: 12px;
        font-weight: 400;
        color: white;
        padding-top: .6em;
    }
}

.chat-btn {
    position: absolute;
    top: 20px;
    right: 20px;
}

.expiry {
    color: #FCCE00;
    font-size: 12px;
    font-weight: 400;
    align-self: flex-start;
    padding-left: 18%;
}

.projectname {
    color: white;
    font-size: 14px;
    font-weight: 400;
    align-self: flex-start;
    padding-left: 18%;
}

.detail-ovw-container {
    padding-left: 18%;
    margin-top: 1em;
    display: flex;
    .detail-ovw {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 1em;
        min-width: 100px;
        background-color: #343556;
        padding: .5em .8em;
        border-radius: 10px;
        span {
            color: #FCCE00;
            font-size: 20px;
            font-weight: 400;
        }
        p {
            color: white;
            letter-spacing: 1px;
            font-weight: 400;
            font-size: 7px;
            text-transform: uppercase;
        }
    }
}

// TRIPLE SWITCH
// CHECKKKK
.toggle-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2em;
}

.toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    z-index: 89;
}

.toggle input[type="radio"] {
    display: none;
}

.toggle label {
    display: grid;
    place-items: center;
    cursor: pointer;
    position: relative;
    color: white;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 2em;
}

.toggle label:first-of-type::after {
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
}

.toggle label:last-of-type::after {
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    width: 105px;
    margin-left: -4px;
}

.toggle label::after {
    content: '';
    position: absolute;
    width: 110px;
    height: 40px;
    background: #343556;
    z-index: -1;
}

.toggle .track {
    position: absolute;
    left: .25em;
    background: linear-gradient(134.72deg, #236AAE 0%, #6DD7AC 101.5%);
    height: 30px;
    width: 90px;
    border-radius: 1.5em;
    pointer-events: none;
    transition: all .2s ease-out;
    z-index: -1;
}

.toggle #input1:checked~.track {
    left: -12px;
}

.toggle #input2:checked~.track {
    left: 80px;
}

.toggle #input3:checked~.track {
    left: 190px;
}

.divider-cap {
    width: 18px;
    height: 4px;
    background-color: #c3c3c3;
    border-radius: 2px;
    display: block;
    margin: 0 auto;
    margin-top: 2em;
}